/Ex01NormalClass.class
/ISchool1.class
/Student1.class
/Ex02AnonymousClass.class
/Ex02AnonymousClass$1.class
/ISchool2.class
/Ex03Lambda.class
/ISchool3.class
/Ex04FunctionalInterface.class
/ISchool4.class
/Ex05ParamNReturn.class
/GugudanRange.class
/MenuPrint.class
/RandomNUmber.class
/StringConcat.class
/RandomNumber.class
/Human.class
/Ex06Define1Predicate.class
/Ex05Define2Supplier.class
/Ex06Define2Supplier.class
/Ex06Define3Consumer.class
/Ex06Define4Function.class
