/E01MethodBasic.class
/E02MethodType01.class
/E03MethodType02_1.class
/E03MethodType02_2.class
/E03MethodType03_1.class
/E04MethodType03_2.class
/E05MethodType04_1.class
/E05MethodType04_2.class
/E06LocalVariable.class
/E07Overloading.class
/QuSimpleOperation.class
/QuCircleCalculator.class
/QuTemperature.class
/QuFindPrimeNumber.class
